<a [ngClass]="getClasses()" target="_blank" href="https://twitter.com/qdesrame">
  <fa-icon class="icon twitter" [icon]="faTwitter" size="lg"></fa-icon>
</a>
<a [ngClass]="getClasses()" target="_blank" href="https://linkedin.com/in/quentin-desrame">
  <fa-icon class="icon linkedin" [icon]="faLinkedin" size="lg"></fa-icon>
</a>
<a [ngClass]="getClasses()" target="_blank" href="https://github.com/quen2404">
  <fa-icon class="icon github" [icon]="faGithub" size="lg"></fa-icon>
</a>
<a [ngClass]="getClasses()" target="_blank" href="https://stackoverflow.com/users/6262650/quen2404">
  <fa-icon class="icon stackoverflow" [icon]="faStackOverflow" size="lg"></fa-icon>
</a>
