<nav class="navbar is-transparent is-fixed-top is-spaced has-shadow">
  <div class="navbar-brand">
    <!--
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112"
           height="28">
    </a>
    -->
    <app-social-network-icons class="navbar-item" [classes]="['is-hidden-desktop']"></app-social-network-icons>

    <div class="navbar-burger burger" (click)="toggleMenu()" [class.is-active]="isMenuOpened">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" [class.is-active]="isMenuOpened">
    <div class="navbar-start">
      <a *ngFor="let route of routes" class="navbar-item" [routerLink]="route.path"
         routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()">
        {{route.name}}
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
          Docs
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
            Overview
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
            Modifiers
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
            Columns
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
            Layout
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
            Form
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
            Elements
          </a>
          <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
            Components
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <app-social-network-icons class="navbar-end" [classes]="['is-hidden-touch', 'is-hidden-desktop-only']"></app-social-network-icons>
    </div>
  </div>
</nav>
<section class="main">
  <router-outlet></router-outlet>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Designed by <strong>Quentin Desramé</strong>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and available in <a
      href="http://github.com/quen2404/website">GitHub</a>.
    </p>
  </div>
</footer>
