<nav class="navbar is-transparent is-fixed-top is-spaced has-shadow">
  <div class="navbar-brand">
    <!--
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112"
           height="28">
    </a>
    -->
    <div class="navbar-burger burger" (click)="toggleMenu()" [class.is-active]="isMenuOpened">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" [class.is-active]="isMenuOpened">
    <div class="navbar-start">
      <a *ngFor="let route of routes" class="navbar-item" [routerLink]="route.path"
         routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()">
        {{route.name}}
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
          Docs
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
            Overview
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
            Modifiers
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
            Columns
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
            Layout
          </a>
          <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
            Form
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
            Elements
          </a>
          <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
            Components
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-twitter" target="_blank"
             href="https://twitter.com/qdesrame">
            <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
            <span>
                Twitter
              </span>
          </a>
          <a class="button is-linkedin" target="_blank"
             href="https://linkedin.com/in/quentin-desrame">
            <fa-icon class="icon" [icon]="faLinkedin"></fa-icon>
            <span>
                Linkedin
              </span>
          </a>
          <a class="button is-github" target="_blank" href="https://github.com/quen2404">
            <fa-icon class="icon" [icon]="faGithub"></fa-icon>
            <span>Github</span>
          </a>
          <a class="button is-stackoverflow" target="_blank" href="https://stackoverflow.com/users/6262650/quen2404">
            <fa-icon class="icon" [icon]="faStackOverflow"></fa-icon>
            <span>Stack Overflow</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="main">
<router-outlet></router-outlet>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Designed by <strong>Quentin Desramé</strong>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and available in <a
      href="http://github.com/quen2404/website">GitHub</a>.
    </p>
  </div>
</footer>
